/* -----------------------------------
 *  RESET/GLOBAL
 * -------------------------------- */
*{
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}
html, body{
    padding: 0;
    margin: 0;
    background-color: #f9f9f9;
}
h1, h2, h3{
    margin-top: 0;
}
p:last-child{
    margin-bottom: 0;
}
a{
    text-decoration: none;
}
blockquote:before,
blockquote:after{
    content: "\"";
}
/* -----------------------------------
 *  VARIAVEIS
 * -------------------------------- */
:root{
    --largura: 1280px;
    --highlightColor: #0f59a0;
}

/* -----------------------------------
 *  CLASSES
 * -------------------------------- */
.conteudoCentralizado{
    width: var(--largura);
    margin: 0 auto;
}
.alignRight{
    text-align: right;
}
.alignLeft{
    text-align: left;
}
.alignCenter{
    text-align: center;
}
.alignJustify{
    text-align: justify;
}
.smallText{
    font-size: 12px;
}
.italicText{
    font-style: oblique;
    font-family: initial;
}
.meiaColuna{
    width: 50%;
    margin-bottom: 15px;
    float: left;
}
.inteiraColuna{
    width: 100%;
}
/* -----------------------------------
 *  HEADER
 * -------------------------------- */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    height: 75px;
}
h1{
    margin-bottom: 0;
}
h1 a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--highlightColor);
}
h1 a img{
    width: 60px;
}
h1 a:hover{
    color: orange;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin-right: 15px;
}
nav ul li:last-child{
    margin-right: 0;
}
nav ul li a{
    color: black;
}
nav ul a:hover,
nav ul a.active{
    color: var(--highlightColor);
    font-weight: bold;
}
#ImagemHeader{
    background: #666 url("Empresa.jpg") no-repeat center;
    /*background-color: #666;
    background-image: url("Empresa.jpg");
    background-position: center;
    background-repeat: no-repeat;*/
    background-size: var(--largura) auto;
    height: 150px;
}
#ImagemHeader.ImagemHeaderAlt{
    height: 250px;
}

/* -----------------------------------
 *  CONTENT
 * -------------------------------- */
.content{
    display: flex;
    align-items: flex-start;
    margin: 25px auto 100px;
}
.content article{
    width: 75%;
}
.content aside{
    width: 25%;
    margin-left: 25px;
    padding: 15px 20px;
}
/* HOME */
#homeContent aside{
    background-color: var(--highlightColor);
    color: white;
}
/* EMPRRESA */
#empresaContent article{
    width: 70%;
}
#empresaContent article ul{
    list-style: square outside;
    padding-left: 0;
}
#empresaContent aside{
    width: 30%;
    padding: 0;
}
#empresaContent aside figure{
    margin: 0;
}
#empresaContent aside figure figcaption{
    text-align: center;
    background-color: #808080;
    color: white;
    line-height: 25px;
    margin: -3px 0 0;
}
/* SERVIÇOS */
#servicoContent article{
    width: 70%;
    padding-right: 40px;
}
#servicoContent table{
    width: 100%;
    border-collapse: collapse;
}
#servicoContent tr{
    line-height: 25px;
}
#servicoContent thead{
    background-color: #0f59a0;
    color: white;
}
#servicoContent tbody tr{
    border-bottom: 1px solid #808080;
}
#servicoContent aside{
    color: #66615b;
    width: 30%;
    margin-left: 0;
}
#servicoContent aside blockquote{
    margin: 0;
    text-align: justify;
    font-style: italic;
    font-family: initial;
    font-size: 20px;
    position: relative;
}
#servicoContent aside p{
    margin-bottom: 5px;
}
/* CONTATO */
#contatoContent form{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
#contatoContent form input,select{
    height: 35px;
}
#contatoContent form input,select,textarea{
    border: solid 1px #cccccc;
}
#contatoContent form input[type="radio"]{
    height: 15px;
}
#contatoContent form input[type="checkbox"]{
    height: 15px;
}
#contatoContent form input[type="submit"]{
    margin-top: 20px;
    width: 20%;
    height: 50px;
    background-color: #0f59a0;
    color: white;
    font-weight: bolder;
    
}
#contatoContent form .formField{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
#contatoContent form .formField.formFieldRow{
    flex-direction: row;
}
#contatoContent form .formField label{
    margin-bottom: 5px;
}
#contatoContent form .formField.formFieldRequired label:after{
    content: "*";
    color: #F00;
}
#contatoContent form .formField input[type='radio']:first-child{
    margin-left: 0;
}
#contatoContent form .formColumnHalf{
    display: flex;
    justify-content: space-between;
}
#contatoContent form .formColumnHalf .formField{
    width: 49%;
}
/* -----------------------------------
 *  FOOTER
 * -------------------------------- */
footer{
    background-color: #808080;
    padding: 15px 0 10px;
    color:white;
    height: 150px;
}
footer a{
    color:white;
}
#contentFooter{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
footer p{
    font-size: 11px;
    color: #dbdbdb;
    padding-top: 45px;
}
footer address{
    line-height: 20px;
}